extends ../shared/template

block content
  h1 Tree Game

  #controls
    input#username(type='text', autofocus=true, placeholder='Username')
    button#login Login

  #dashboard
  #items
  #forest



block scripts
  script(src='/js/es6/compiled/game.js')
